/practica1/practica1/nbproject/private/
/practica1/practica1/build/
/clase5/clase5/nbproject/private/
/clase5/clase5/build/
/practica2/Practica2/nbproject/private/
/claseString/Clase6/nbproject/private/
/claseString/Clase6/build/
/Nueva Carpeta/JavaApplication6/nbproject/private/
/Nueva Carpeta/JavaApplication6/build/